body {
  margin: 0;
  padding: 0;
}
.container {
  margin-top: 10px;
  width: 1000px;
  /* margin-left: auto;
  margin-right: auto;*/ /* sag sol bosluk*/
  /*margin: 0 auto 0 auto;*/
  margin: 50px auto 0;
}
.gradient {
  background: linear-gradient(
    135deg,
    rgba(112, 73, 186, 0.6785938262939453),
    rgba(233, 80, 149, 0.3910938262939453)
  ) !important ;
}
.btn {
  padding: 10px 20px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  -webkit-box-shadow: -4px 17px 42px -5px rgba(171, 34, 171, 1);
  -moz-box-shadow: -4px 17px 42px -5px rgba(171, 34, 171, 1);
  box-shadow: -4px 17px 42px -5px rgba(171, 34, 171, 1);
}
.left-bar {
  width: 200px;
  float: left;
}
.content {
  width: 800px;
  float: left;
}

.card {
  width: 20%;
  float: left;
  padding: 5%;
  margin-right: 3%;
  background-color: rgb(210, 208, 208);
  border-radius: 10px;
}

.clear {
  clear: both; /*kutuların saginda artık bir sey yer almaz*/
}
.box {
  width: 200px;
  height: 200px;
  padding: 10px; /*yazıları bosluklu yazdık */

  /*margin: 10px; iki kutuyu ayırabildik */
  float: left; /*kutuların dizilim sekli */
  margin-right: 50px;
}
.bg-pink {
  background-color: pink;
}

.bg-gray {
  background-color: gray;
}

.bg-purple {
  background-color: plum;
}
